{% extends "bootstrap/base.html" %}
{% block title %}SMS Scavenger Hunt{% endblock %}


{% block content %}
    <div class="m-5">
    <h1>SMS Scavenger Hunt</h1>
    <p>
        An SMS-based scavenger hunt where players are sent a text that describes
        an object they need to find, photograph, and send back in a reply. 
        If the photo is a match, points are awarded based on the order correct 
        submissions are received!</p>
    <p>
        <b>Send 'join' to 440-276-5477 to join the game.</b> Text 'q' when you want to stop playing.
    </p>
    <p><a href="{{url_for('play.show_leaderboard')}}">View today's leaderboard</a></p>
    </div>
{% endblock %}